.container {
    display: flex;
    max-width: fit-content;
    padding-top: 50px;
    padding-left: 0px;
  }
  
  .left {
    width: 1630px;
    padding: 20px;
  }
  
  .right {
   /* width: 35%; */
  }